<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="hvoipm">
			<section name="deviceStateMonitors" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
			<section name="behaviours" type="LothianProductions.Util.Settings.SectionHandler, LothianProductionsCommon" />
		</sectionGroup>
	</configSections>
	
	<hvoipm>
		<deviceStateMonitors>
			<add key="Linksys PAP2" value="LothianProductions.VoIP.Monitor.Impl.LinksysPAP2DeviceStateMonitor" />
		</deviceStateMonitors>
		<behaviours>
			<behaviour stateType="DeviceState" name="" property="name"				showBubble="true" systemTrayWarning="false" showApplication="false" bubbleText="Device renamed from {1} to {2}" warningCriteria="" />
			<behaviour stateType="LineState" name="" property="name"				showBubble="true" systemTrayWarning="false" showApplication="false" bubbleText="Line renamed from {1} to {2}" warningCriteria="" />
			<behaviour stateType="LineState" name="" property="lastCalledNumber"	showBubble="false" systemTrayWarning="false" showApplication="false" bubbleText="Calling {2}" warningCriteria="" />
			<behaviour stateType="LineState" name="" property="lastCallerNumber"	showBubble="true" systemTrayWarning="false" showApplication="false" bubbleText="{2} calling" warningCriteria="" />
			<behaviour stateType="LineState" name="" property="registrationState"	showBubble="true" systemTrayWarning="true" showApplication="false" bubbleText="Line registration state {2}" warningCriteria="" />
			<behaviour stateType="CallState" name="" property="name"				showBubble="true" systemTrayWarning="false" showApplication="false" bubbleText="Call renamed from {1} to {2}" warningCriteria="" />
			<behaviour stateType="CallState" name="" property="callActivity"		showBubble="true" systemTrayWarning="false" showApplication="false" bubbleText="{2} call" warningCriteria="" />
			<behaviour stateType="CallState" name="" property="duration"			showBubble="true" systemTrayWarning="false" showApplication="false" bubbleText="Call duration: {2}" warningCriteria="" />
		</behaviours>
	</hvoipm>

	<appSettings>
		<add key="logType" value="xml" />
		<add key="logFile" value="system_log.xml" />
	</appSettings>
</configuration>