<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="deviceStateMonitors" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
	</configSections>
	<deviceStateMonitors>
		<add key="Linksys PAP2" value="LothianProductions.VoIP.Monitor.Impl.LinksysPAP2DeviceStateMonitor" />
	</deviceStateMonitors>
	<appSettings>
		<add key="logType" value="xml" />
		<add key="logFile" value="system_log.xml" />
	</appSettings>
</configuration>